body{
	background: #000;
}
.logo{
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

#scroll-animate

{
  overflow: hidden;
}

#scroll-animate-main
{
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll
{
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage
{
  left: 0;
}

#heightScroll
{
  right: 0;
}

.header
{
  width: 100%;
  height: 100px !important;
  top: 0;
  position: fixed;
  z-index: 2;
	padding: 25px;
}

.navbar{
	line-height: normal !important;
}

footer
{
  width: 100%;
  height: 100vh;
  background: gray;
  bottom: -300px;
  position: fixed;
  z-index: -1;
}

.content
{
  background: #ededed;
  position: relative;
  z-index: 1;
}

.wrapper-parallax {
	margin: 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	height: 20000px;
}

h1{
  width: 100%;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica;
  font-size: 150px;
  color: #fff;
}

header,
footer,
#scroll-animate-main
{
  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}


/* прокрутка */
html {
	scrollbar-width: thin;
	scrollbar-color: #28a745 #f0f0f0;
}

/* Для Webkit браузерів */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f0f0f0;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: #28a745;;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #28a745;;
}
main{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}
/* hero-section */

body {
	margin: 0;
	font-family: Arial, sans-serif;
	overflow-x: hidden; /* Уникаємо горизонтального скролбару */
}

.hero-section {
	height: 100dvh;
	min-height: 100dvh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	box-sizing: border-box;
}

.background-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.background-layer-1 {
	background: url('./src/img/02_1.jpg');
	background-size: cover;
	z-index: 1;
}

.background-layer-2 {
	background: url('./src/img/02.jpg');
	background-size: cover;
	z-index: 2;
	clip-path: inset(100% 0 0 0);
	transition: clip-path 0s linear;
}

.laser {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 5px;
	background: linear-gradient(90deg, transparent, #ff8c00, transparent);
	box-shadow: 0 0 20px #ff8c00, 0 0 40px #ff8c00;
	z-index: 3;
}

.content {
	text-align: center;
	color: #fff;
	opacity: 0;
	z-index: 4;
	transition: opacity 0.5s ease-in;
}

.content h1 {
	font-size: 3rem;
	margin: 0;
	text-transform: uppercase;
}

.content p {
	font-size: 1.5rem;
}

.placeholder {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f0f0f0;
}
.site-content{
	height: fit-content;
	position: relative;
	z-index: 5;
	padding: 40px;
}
.cards {
	display: flex;
	justify-content: center;
	gap: 10px;
	height: fit-content;
	flex-wrap: wrap;
	position: relative;
	z-index: 5;
	padding: 25px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;

	justify-content: space-between;
	width: 450px;
	height: 500px;
	background: #FFFFFFB8;
	border-radius: 3px;
	border: none;
	box-shadow: 2px 2px 10px white;
	padding: 35px;
}

.title {
	font-family: Roboto;
	font-weight: 700;
	font-size: 56px;
	line-height: 120%;
	letter-spacing: 0%;
}

.text {
	font-family: Roboto Condensed;
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0%;
}

button {
	width: 374px;
	height: 78px;
	font-family: Roboto Condensed;
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0%;
	background: #E89F71;
	border: none;
	transition: all .3s ease-in-out;
}
button:hover{
	background: #089F71;
	color: white;
}